*~
*.class
private/
dist/
build/

*.log*
**/bin/

.classpath
.project

**/*.properties
*.versionsBackup

**/target/
!./target/
target/bin/
target/output/
target/report/

hyflex-*/**/.settings
hyflex-*/**/.checkstyle